* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
  justify-content: space-around;
  margin: 0 15rem;
}
header .logo {
  flex: 0.2;
}
header nav {
  flex: 1;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4.5rem;
}
header nav li {
  font-size: 1.6rem;
}
header nav li a {
  text-decoration: none;
  color: hsl(219deg, 9%, 45%);
}
header nav li a:hover {
  border-bottom: 0.4rem solid hsl(26deg, 100%, 55%);
  padding-bottom: 3.3rem;
  color: hsl(0deg, 0%, 0%);
}
header .icon-cart-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem;
}
header .icon-cart-user .shop-cart {
  position: relative;
}
header .icon-cart-user .shop-cart:hover .cart-list {
  display: block;
  cursor: pointer;
}
header .icon-cart-user .shop-cart small {
  position: absolute;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(26deg, 100%, 55%);
  padding: 0.3rem 0.6rem;
  left: 50%;
  transform: translateY(35%);
  border-radius: 50%;
}
header .icon-cart-user .shop-cart-img {
  padding: 1rem 3rem;
}
header .icon-cart-user .shop-cart-img:hover {
  cursor: pointer;
}
header .icon-cart-user .shop-cart .cart-list {
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  left: -60%;
  transform: translateY(0.5rem);
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 1rem hsl(220deg, 14%, 75%);
  display: none;
}
header .icon-cart-user .shop-cart .cart-list .header-cart {
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 0.1rem solid hsl(220deg, 14%, 75%);
  padding: 5%;
}
header .icon-cart-user .shop-cart .cart-list-items {
  padding: 1.5rem;
}
header .icon-cart-user .shop-cart .cart-list .list-item {
  display: flex;
  align-items: center;
}
header .icon-cart-user .shop-cart .cart-list .list-item .img-cart {
  width: 4rem;
  height: 4rem;
  border-radius: 0.6rem;
}
header .icon-cart-user .shop-cart .cart-list .list-item .cart-infor {
  padding: 0 0.9rem;
  color: hsl(219deg, 9%, 45%);
}
header .icon-cart-user .shop-cart .cart-list .list-item .cart-infor p {
  font-size: 1.4rem;
  padding-bottom: 0.6rem;
}
header .icon-cart-user .shop-cart .cart-list .list-item .cart-infor .cart-checkout {
  font-size: 1.3rem;
}
header .icon-cart-user .shop-cart .cart-list .list-item .cart-infor .cart-checkout .price-total {
  padding: 0 1rem;
  font-weight: 700;
}
header .icon-cart-user .shop-cart .cart-list .btn-checkout {
  padding: 0 1.5rem 2rem;
}
header .icon-cart-user .shop-cart .cart-list .btn-checkout-cart {
  background-color: hsl(26deg, 100%, 55%);
  border: hsl(25deg, 100%, 94%);
  padding: 1rem 9rem;
  border-radius: 0.5rem;
  color: hsl(25deg, 100%, 94%);
  font-size: 1.6rem;
  font-weight: 700;
}
header .icon-cart-user .shop-cart .cart-list .btn-checkout-cart:hover {
  opacity: 0.5;
  box-shadow: 0 0.2rem 1rem hsl(26deg, 100%, 55%);
  cursor: pointer;
}
header .icon-cart-user .shop-cart .cart-list::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20%;
  top: -1.5rem;
  left: 0;
}
header .icon-cart-user .header-img-user {
  width: 2.5vw;
  float: right;
}
header .icon-cart-user .header-img-user:hover {
  border-radius: 50%;
  border: 0.1rem solid hsl(26deg, 100%, 55%);
  cursor: pointer;
}

.slideShow-row {
  display: flex;
  padding: 6rem 18rem;
  justify-content: center;
}
.slideShow-col {
  padding: 0 5rem;
  width: 47rem;
}
.slideShow-col .row-slide {
  display: flex;
  padding-top: 2rem;
  width: 40rem;
  justify-content: space-between;
}
.slideShow-col .row-slide .col-slide .img-slide {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
}
.slideShow-col .row-slide .col-slide .img-slide:hover {
  cursor: pointer;
  opacity: 0.7;
}
.slideShow-col .product-content-title {
  text-transform: uppercase;
  color: hsl(26deg, 100%, 55%);
  padding: 3rem 0;
  font-size: 1.5rem;
}
.slideShow-col .product-content-name {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 3rem;
}
.slideShow-col .product-content-desc {
  padding-bottom: 2rem;
  color: hsl(219deg, 9%, 45%);
  font-size: 1.2rem;
}
.slideShow-col .product-content-price .price {
  font-size: 1.8rem;
  font-weight: 700;
  padding-right: 1rem;
}
.slideShow-col .product-content-price .discount {
  background-color: hsl(25deg, 100%, 94%);
  font-size: 1.6rem;
  color: hsl(26deg, 100%, 55%);
  border-radius: 0.6rem;
  font-weight: 700;
  padding: 0.2rem;
}
.slideShow-col .product-content-price .del-price {
  padding: 1rem 0rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: line-through;
  color: hsl(220deg, 14%, 75%);
}
.slideShow-col .product-content-btn {
  display: flex;
}
.slideShow-col .product-content-btn .incre-decre {
  padding: 1rem 2rem;
  background-color: hsl(223deg, 64%, 98%);
  margin-right: 2rem;
  border-radius: 1rem;
}
.slideShow-col .product-content-btn .incre-decre .increment {
  padding-bottom: 0.3rem;
}
.slideShow-col .product-content-btn .incre-decre .increment:hover {
  cursor: pointer;
}
.slideShow-col .product-content-btn .incre-decre .text-cart {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
}
.slideShow-col .product-content-btn .incre-decre .decrement:hover {
  cursor: pointer;
}
.slideShow-col .product-content-btn .add-cart {
  background-color: hsl(26deg, 100%, 55%);
  padding: 0 4rem;
  border: none;
  border-radius: 1rem;
}
.slideShow-col .product-content-btn .add-cart-text {
  display: inline-block;
  color: hsl(25deg, 100%, 94%);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 2rem;
}
.slideShow-col .product-content-btn .add-cart:hover {
  opacity: 0.5;
  box-shadow: 0 0.2rem 1rem hsl(26deg, 100%, 55%);
  cursor: pointer;
}
.slideShow-product {
  width: 40rem;
  height: 45rem;
  border-radius: 1rem;
}

.opacity-on {
  opacity: 0.5;
}

.border-slides {
  border: 2px solid hsl(26deg, 100%, 55%);
}

/*# sourceMappingURL=main.css.map */
