@import "./base/reset";
@import "./base/variables";

header {
  display: flex;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid $grayish-blue;
  justify-content: space-around;
  margin: 0 15rem;
  .logo {
    flex: 0.2;
  }
  nav {
    flex: 1;
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 4.5rem;
    }
    li {
      font-size: $font-size;

      a {
        text-decoration: none;
        color: $dark-grayish-blue;
        &:hover {
          border-bottom: 0.4rem solid $orange;
          padding-bottom: 3.3rem;
          color: $black;
        }
      }
    }
  }
  .icon-cart-user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;
    .shop-cart {
      position: relative;
      &:hover .cart-list {
        display: block;
        cursor: pointer;
      }
      small {
        position: absolute;
        color: $white;
        background-color: $orange;
        padding: 0.3rem 0.6rem;
        left: 50%;
        transform: translateY(35%);
        border-radius: 50%;
      }
      &-img {
        padding: 1rem 3rem;
        &:hover {
          cursor: pointer;
        }
      }
      .cart-list {
        position: absolute;
        background-color: $white;
        left: -60%;
        transform: translateY(0.5rem);
        border-radius: 0.4rem;
        box-shadow: 0 0.2rem 1rem $grayish-blue;
        display: none;
        .header-cart {
          font-size: $font-size;
          font-weight: 700;
          border-bottom: 0.1rem solid $grayish-blue;
          padding: 5%;
        }
        &-items {
          padding: 1.5rem;
        }
        .list-item {
          display: flex;
          align-items: center;
          .img-cart {
            width: 4rem;
            height: 4rem;
            border-radius: 0.6rem;
          }
          .cart-infor {
            padding: 0 0.9rem;
            color: $dark-grayish-blue;
            p {
              font-size: 1.4rem;
              padding-bottom: 0.6rem;
            }
            .cart-checkout {
              font-size: 1.3rem;
              .price-total {
                padding: 0 1rem;
                font-weight: 700;
              }
            }
          }
        }
        .btn-checkout {
          padding: 0 1.5rem 2rem;
          &-cart {
            background-color: $orange;
            border: $pale-orange;
            padding: 1rem 9rem;
            border-radius: 0.5rem;
            color: $pale-orange;
            font-size: $font-size;
            font-weight: 700;
            &:hover {
              opacity: 0.5;
              box-shadow: 0 0.2rem 1rem $orange;
              cursor: pointer;
            }
          }
        }
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 20%;
          top: -1.5rem;
          left: 0;
        }
      }
    }
    .header-img {
      &-user {
        width: 2.5vw;
        float: right;
        &:hover {
          border-radius: 50%;
          border: 0.1rem solid $orange;
          cursor: pointer;
        }
      }
    }
  }
}

.slideShow {
  &-row {
    display: flex;
    padding: 6rem 18rem;
    justify-content: center;
  }
  &-col {
    padding: 0 5rem;
    width: 47rem;
    .row-slide {
      display: flex;
      padding-top: 2rem;
      width: 40rem;
      justify-content: space-between;
      .col-slide {
        .img-slide {
          width: 8rem;
          height: 8rem;
          border-radius: 1rem;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
    .product-content {
      &-title {
        text-transform: uppercase;
        color: $orange;
        padding: 3rem 0;
        font-size: 1.5rem;
      }
      &-name {
        font-size: 3rem;
        font-weight: 700;
        padding-bottom: 3rem;
      }
      &-desc {
        padding-bottom: 2rem;
        color: $dark-grayish-blue;
        font-size: 1.2rem;
      }
      &-price {
        .price {
          font-size: 1.8rem;
          font-weight: 700;
          padding-right: 1rem;
        }
        .discount {
          background-color: $pale-orange;
          font-size: 1.6rem;
          color: $orange;
          border-radius: 0.6rem;
          font-weight: 700;
          padding: 0.2rem;
        }

        .del-price {
          padding: 1rem 0rem 3rem;
          font-size: 1.6rem;
          font-weight: 600;
          text-decoration: line-through;
          color: $grayish-blue;
        }
      }
      &-btn {
        display: flex;
        .incre-decre {
          padding: 1rem 2rem;
          background-color: $light-grayish-blue;
          margin-right: 2rem;
          border-radius: 1rem;
          .increment {
            padding-bottom: 0.3rem;
            &:hover{
              cursor: pointer;
            }
          }
          .text-cart {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 0.5rem 2rem;
          }
          .decrement:hover{
            cursor: pointer;
          }
        }
        .add-cart {
          background-color: $orange;
          padding: 0 4rem;
          border: none;
          border-radius: 1rem;
          &-text {
            display: inline-block;
            color: $pale-orange;
            font-size: 1.6rem;
            font-weight: 700;
            padding: 0 2rem;
          }
          &:hover {
            opacity: 0.5;
            box-shadow: 0 0.2rem 1rem $orange;
            cursor: pointer;
          }
        }
      }
    }
  }
  &-product {
    width: 40rem;
    height: 45rem;
    border-radius: 1rem;
  }
}

