@mixin sidenavbar() {
  .nav-menu {
    position: fixed;
    @include bgc($white);
    top: 0;
    left: -100%;
    display: block;
    height: 100vh;
    z-index: 1;
    width: 20rem;
    padding: 10rem 3rem;
    transition: all 0.3s ease;
    .cancel-btn {
      display: block;
      position: absolute;
      top: 2rem;
      left: 2rem;
      padding: 1rem;
    }
  }
  .nav-menu.active {
    left: 0%;
  }
  li {
    padding-bottom: 2rem;
    a {
      color: $black;
      font-size: 2rem;
      font-weight: 700;
      &:hover {
        border-bottom: none;
        padding: 0;
        color: $dark-grayish-blue;
      }
    }
  }
}

