@media (min-width: 413px) and (max-width: 767px) {
  .container {
    padding: 0 1rem;
    header {
      justify-content: space-between;
      .sidebar {
        display: block;
      }
      .line-header {
        width: 100%;
      }
      .logo {
        flex: 0;
      }
      nav {
        @include sidenavbar();
      }
      .icon-cart-user {
        .shop-cart {
          small {
            transform: translateY(0);
          }
          &-img {
            padding: 0rem 2rem;
          }
        }
        &:hover .cart-list {
          transform: translate(-14rem, 3rem);
          left: -50%;
        }
        .list-item {
          justify-content: space-between;
        }
      }
    }
    .slideShow {
      &-row {
        padding: 2rem 0rem;
        grid-template-columns: repeat(auto-fit, 32rem);
        justify-content: space-evenly;
      }
      &-col {
        .row-slide {
          .col-slide {
            .img-slide {
              width: 7rem;
              height: 7rem;
            }
          }
        }
        .product-content {
          padding: 0;
          &-title {
            padding: 2rem 0;
          }
          &-name {
            padding-bottom: 2rem;
          }
          &-btn {
            padding: 0;
            justify-content: space-around;
            .incre-decre {
              padding: 1rem 1rem;
            }
          }
        }
      }
      &-product {
        height: 32rem;
      }
    }
  }
}
@media screen and (max-width: 412px) {
  .container {
    padding: 0 1rem 1rem;
    header {
      @include flexbox(center, space-between);
      .sidebar {
        display: block;
      }
      .line-header {
        display: none;
      }
      .logo {
        flex: 0;
      }
      nav {
        @include sidenavbar();
      }
      .icon-cart-user {
        .shop-cart {
          small {
            transform: translateY(0);
          }
          &-img {
            padding: 0rem 2rem;
          }
        }
        &:hover .cart-list {
          transform: translate(-14rem, 3rem);
          left: -50%;
        }
        .list-item {
          justify-content: space-between;
        }
      }
    }
    .slideShow {
      &-row {
        padding: 0;
        grid-template-columns: repeat(auto-fit, 26rem);
      }
      &-col {
        .row-slide {
          display: none;
        }
        .product-content {
          padding: 0;
          &-title {
            padding: 2rem 0;
            font-size: 1.3rem;
          }
          &-name {
            font-size: 2rem;
            padding-bottom: 2rem;
          }
          &-price {
            .del-price {
              display: inline-block;
              padding-left: 10rem;
            }
          }
          &-btn {
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0;
            .incre-decre {
              @include flexbox(baseline, space-evenly);
              padding: 1.5rem 0;
              gap: 0;
            }
            .add-cart {
              @include flexbox(center, center);
              padding: 1.5rem 0;
              width: 26rem;
              &-text {
                padding: 0 1rem;
              }
              &-icon {
                padding: 0;
                width: 10%;
              }
            }
          }
        }
        .btn-slideShow {
          display: block;
        }
      }
      &-product {
        height: 26rem;
      }
    }
  }
}

